# Project 01. Funnel Analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Table of Contents
  1. [Read Data](#readdata)

<a id='read_data'></a>
## Read Data

In [32]:
data = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/user_table.csv',index_col='user_id')
data.head()

               date   device     sex
user_id
450007   2015-02-28  Desktop  Female
756838   2015-01-13  Desktop    Male
568983   2015-04-09  Desktop    Male
190794   2015-02-18  Desktop  Female
537909   2015-01-15  Desktop    Male

In [33]:
search = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/search_page_table.csv',index_col='user_id')
search.head()

                page
user_id
15866    search_page
347058   search_page
577020   search_page
780347   search_page
383739   search_page

In [38]:
pay = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/payment_page_table.csv')
confirmation = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/payment_confirmation_table.csv')

In [48]:

data.loc['pay.index'] = pay.page
data

                 date   device     sex         page
user_id
450007     2015-02-28  Desktop  Female          NaN
756838     2015-01-13  Desktop    Male          NaN
568983     2015-04-09  Desktop    Male  search_page
190794     2015-02-18  Desktop  Female  search_page
537909     2015-01-15  Desktop    Male          NaN
...               ...      ...     ...          ...
642989     2015-02-08  Desktop  Female  search_page
659645     2015-04-13  Desktop    Male  search_page
359779     2015-03-23  Desktop    Male          NaN
438929     2015-03-26   Mobile  Female          NaN
pay.index         NaN      NaN     NaN          NaN

[90401 rows x 4 columns]