# Project 01. Funnel Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Table of Contents
  1. [Read Data](#readdata)

<a id='read_data'></a>
## Read Data

In [104]:
# Since 'user_id' is the key of all the tables, change all the index in tables to be 'user_id'.
data = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/user_table.csv', index_col='user_id')
data.head()

               date   device     sex
user_id
450007   2015-02-28  Desktop  Female
756838   2015-01-13  Desktop    Male
568983   2015-04-09  Desktop    Male
190794   2015-02-18  Desktop  Female
537909   2015-01-15  Desktop    Male

In [105]:
home = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/home_page_table.csv',index_col='user_id')
search = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/search_page_table.csv',index_col='user_id')
pay = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/payment_page_table.csv',index_col='user_id')
confirmation = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/5. Funnel_Analysis/payment_confirmation_table.csv',index_col='user_id')

In [106]:
# add one column 'page' to the data to show the status 
data.loc[home.index,'page'] = home['page']
data.loc[search.index,'page'] = search['page']
data.loc[pay.index,'page'] = pay['page']
data.loc[confirmation.index, 'page'] = confirmation['page']
data.head()

               date   device     sex         page
user_id
450007   2015-02-28  Desktop  Female    home_page
756838   2015-01-13  Desktop    Male    home_page
568983   2015-04-09  Desktop    Male  search_page
190794   2015-02-18  Desktop  Female  search_page
537909   2015-01-15  Desktop    Male    home_page

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90400 entries, 450007 to 438929
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    90400 non-null  object
 1   device  90400 non-null  object
 2   sex     90400 non-null  object
 3   page    90400 non-null  object
dtypes: object(4)
memory usage: 5.9+ MB

In [108]:
#change the date from object to datetime
data['date']=pd.to_datetime(data['date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90400 entries, 450007 to 438929
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    90400 non-null  datetime64[ns]
 1   device  90400 non-null  object
 2   sex     90400 non-null  object
 3   page    90400 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.9+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90400 entries, 450007 to 438929
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    90400 non-null  object
 1   device  90400 non-null  object
 2   sex     90400 non-null  object
 3   page    90400 non-null  object
dtypes: object(4)
memory usage: 5.9+ MB