# Porject 07. Marketing Email Campaign

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.tight_layout()

# Table of Contents
  1. [Read Data](#read_data)
  2. [Question 1](#question1)
  3. [Question 2](#question2)
  4. [Question 3](#question3)
  5. [Question 4](#question4)

<a id='read_data'></a>
## Read Data

In [58]:
# read the email table and corresponding describe and statistical information
email = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/7. email/email_table.csv',index_col = 'email_id')
email.head()

,email_text,email_version,hour,weekday,user_country,user_past_purchases
email_id,,,,,,
85120,short_email,personalized,2,Sunday,US,5
966622,long_email,personalized,12,Sunday,UK,2
777221,long_email,personalized,11,Wednesday,US,2
493711,short_email,generic,6,Monday,UK,1
106887,long_email,generic,14,Monday,US,6

In [59]:
email.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 85120 to 348333
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   email_text           100000 non-null  object
 1   email_version        100000 non-null  object
 2   hour                 100000 non-null  int64
 3   weekday              100000 non-null  object
 4   user_country         100000 non-null  object
 5   user_past_purchases  100000 non-null  int64
dtypes: int64(2), object(4)
memory usage: 5.3+ MB

In [60]:
email.describe()

                hour  user_past_purchases
count  100000.000000         100000.00000
mean        9.059300              3.87845
std         4.439637              3.19611
min         1.000000              0.00000
25%         6.000000              1.00000
50%         9.000000              3.00000
75%        12.000000              6.00000
max        24.000000             22.00000

In [61]:
# check if there are any NaN values
email.isnull().sum()

email_text             0
email_version          0
hour                   0
weekday                0
user_country           0
user_past_purchases    0
dtype: int64

In [62]:
#check the categories in categorical field
[email[x].nunique() for x in ['email_text','email_version','weekday','user_country']]

[2, 2, 7, 4]

In [63]:
# rename long column names to shorter and understandable ones to make it easier to manipulation
email.rename(columns = {'email_id':'id', 'email_text':'is_short', 'email_version':'is_personalized','user_country':'country', 'user_past_purchases':'purchases'},inplace=True)
email.head()

             is_short is_personalized  hour    weekday country  purchases
email_id
85120     short_email    personalized     2     Sunday      US          5
966622     long_email    personalized    12     Sunday      UK          2
777221     long_email    personalized    11  Wednesday      US          2
493711    short_email         generic     6     Monday      UK          1
106887     long_email         generic    14     Monday      US          6

In [49]:
# read the data in another two tables
open = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/7. email/email_opened_table.csv')
open.head()

   email_id
0    284534
1    609056
2    220820
3    905936
4    164034

In [50]:
click = pd.read_csv('C:/Users/xiaoj/Desktop/CS/collection of data science-take home challenges/Data/7. email/link_clicked_table.csv')
click.head()

   email_id
0    609056
1    870980
2    935124
3    158501
4    177561

<a id='question1'></a>
## Question 1
What percentage of users opened the email and what percentage clicked on the link within the email?

In [51]:
#calculate percentage of users opened the email
open_percentage = open.shape[0]/email.shape[0]
open_percentage

0.10345

In [52]:
# calculate percentage of users clicked on the link within the email 
click_percentage = click.shape[0]/email.shape[0]
click_percentage

0.02119

In [53]:
print("{:.2f}% of users opened the email".format(open_percentage * 100))
print("{:.2f}% of users clicked the link".format(click_percentage * 100))

10.35% of users opened the email
2.12% of users clicked the link

<a id='question2'></a>
## Question 2
Build a model to optimize in future email campaigns to maximize the probability of users clicking on the link inside the email.

In [64]:
# add a new column to email table
email['final'] = 'received'
email.loc[open['email_id'],'final'] = 'opened'
email.loc[click['email_id'],'final'] = 'clicked'
email.head()

,is_short,is_personalized,hour,weekday,country,purchases,final
email_id,,,,,,,
85120,short_email,personalized,2,Sunday,US,5,received
966622,long_email,personalized,12,Sunday,UK,2,clicked
777221,long_email,personalized,11,Wednesday,US,2,received
493711,short_email,generic,6,Monday,UK,1,received
106887,long_email,generic,14,Monday,US,6,received

<a id='question3'></a>
## Question 3
How much do you think your model would improve click through rate? How would you test that?

<a id='question4'></a>
## Question 4
Any interesting pattern on how the email campaign performed for different segments of users? Explain.